.error {
  background-color: var(--design-system-error);
  color: var(--design-system-white);
  padding: 0.75rem 1rem;
  border-radius: 8px;
  font-size: 0.875rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
}

.has-error {
  border-color: var(--design-system-error);
  border-width: 2px;
  border-style: solid;
}

.is-error {
  color: var(--design-system-error);
  font-weight: 600;
}

