@import '../../../libs/solutio-ds/src/styles/tokens/colors';

@import 'assets/styles/base/reset';
@import 'assets/styles/base/typography';
@import 'assets/styles/base/base';

@import 'assets/styles/layout/navbar';
@import 'assets/styles/layout/sidebar';
@import 'assets/styles/layout/main';

@import 'assets/styles/components/shared';
@import 'assets/styles/components/alert';
@import 'assets/styles/components/buttons';
@import 'assets/styles/components/forms';
@import 'assets/styles/components/button-loader';
@import 'assets/styles/components/tables';

@import 'assets/styles/state/loading';
@import 'assets/styles/state/error';
